rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Helper functions
    function isOwner(userId) {
      return request.auth != null && request.auth.uid == userId;
    }

    // USERS
    match /users/{userId} {
      allow get: if true;
      allow list: if false;
      allow create: if isOwner(userId);
      allow update: if isOwner(userId);
      allow delete: if false;

        // MOOD LOGS
        match /moodLogs/{moodLogId} {
            allow read, write: if isOwner(userId);
        }

        // JOURNAL ENTRIES
        match /journalEntries/{journalEntryId} {
            allow read, write: if isOwner(userId);
        }
    }
  }
}
